/* styles.css */

.custom-import {
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: var(--White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.custom-add {
    border: 1px solid var(--Brand-600, #7F56D9);
    background: var(--Brand-600, #7F56D9);

    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}